.sign_container
{

  position:absolute;
  top:55%;
  left: 15%;
}
.sign_container .signbtn
{
  height:40px;
  width:150px;
  border-radius:8px;
  background-color: transparent;
  border: 3px solid white;
  font-size:23px;
  margin:2px 2px 2px 2px;
  font-family: 'Alata', sans-serif;
  color:#c46210;
}
.sign_container .registerbtn
{
  height:40px;
  width:150px;
  border-radius:8px;
  background-color: transparent;
  border: 3px solid white;
  font-size:23px;
  margin:2px 2px 2px 2px;
  font-family: 'Alata', sans-serif;
  color:#c46210;

}
.sign_container .registerbtn:hover
{
  border: 3px #c46210;
  color:white;
}

